.loading-text {
  font-size: x-large;
  margin-bottom: 0.5rem;
}

.loading-container {
  height: 100%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-expansion-panel-header-description {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.mat-expansion-panel-header-description > :not(:last-child) {
  margin-right: 1rem;
}
