<h2 class="text">Log in</h2>
<form #form="ngForm">
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input
      matInput
      [(ngModel)]="loginModel.email"
      required="true"
      name="email"
      type="email"
      email="true"
      #email="ngModel"
    />
    <mat-error *ngIf="email.errors?.['required']">E-mail is required</mat-error>
    <mat-error *ngIf="email.errors?.['email']">E-mail is invalid</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      [(ngModel)]="loginModel.password"
      required="true"
      name="password"
      type="password"
      #password="ngModel"
    />
    <mat-error *ngIf="password.errors?.['required']"
      >Password is required</mat-error
    >
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    (click)="logIn()"
    class="center-element"
    [disabled]="form.invalid"
  >
    Sign in
  </button>
  <p class="center-element">
    <span class="text">Don't have an account? </span
    ><a routerLink="../register" class="link">Sign up</a>
  </p>
</form>
