<mat-nav-list class="nav-list" #navList>
  <a
    mat-list-item
    routerLink="my-fleet"
    routerLinkActive
    #routerLinkActiveInstance1="routerLinkActive"
    (click)="sidepanelRef.close()"
    [class.list-item-active]="routerLinkActiveInstance1.isActive"
    tabindex="-1"
  >
    <div class="nav-link"><mat-icon>menu</mat-icon><span>My fleet</span></div>
  </a>
  <a
    mat-list-item
    routerLink="summary"
    routerLinkActive
    #routerLinkActiveInstance2="routerLinkActive"
    (click)="sidepanelRef.close()"
    [class.list-item-active]="routerLinkActiveInstance2.isActive"
    tabindex="-1"
  >
    <div class="nav-link">
      <mat-icon>directions_car</mat-icon><span>Link2</span>
    </div>
  </a>
  <div class="spacer"></div>
  <mat-divider />
  <mat-list-item (click)="logOut()" tabindex="-1">
    <div class="nav-link">
      <mat-icon>logout</mat-icon><span>Log out</span>
    </div></mat-list-item
  >
</mat-nav-list>
