@use "@angular/material" as mat;

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin color($theme) {
  .list-item-active * {
    color: mat.get-theme-color($theme, accent, text);
  }
}
