<mat-nav-list class="nav-list" #navList>
  @for(listItem of navListItems; track listItem.navLink) {
  <a
    mat-list-item
    [routerLink]="listItem.navLink"
    routerLinkActive
    #routerLinkActiveInstance="routerLinkActive"
    (click)="sidepanelRef.close()"
    [class.list-item-active]="routerLinkActiveInstance.isActive"
    tabindex="-1"
  >
    <div class="nav-link">
      <mat-icon>{{ listItem.icon }}</mat-icon>
      <div class="nav-spacer"></div>
      <span>{{ listItem.label }}</span>
    </div>
  </a>
  }
  <div class="spacer"></div>
  <mat-divider />
  <mat-list-item (click)="logOut()" tabindex="-1">
    <div class="nav-link">
      <mat-icon>logout</mat-icon><span>Log out</span>
    </div></mat-list-item
  >
</mat-nav-list>
