@use "@angular/material" as mat;
@use "custom-theme" as customTheme;

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  box-sizing: border-box;
  height: 100vh;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  gap: 20px;
  @include mat.elevation(4);
}

.sidepanel-size {
  width: min(280px, 100vw - 64px);
}

.container {
  flex: 1;
  box-sizing: border-box;
  padding: 0;
}

.sidenav-content-container {
  box-sizing: border-box;
  position: relative;
}

.content-container {
  padding: 1rem;
}
