@if(carInfo !== null && carIssues !== null) {
<div class="container">
  <p class="title">{{ carInfo.name }}</p>
  <p class="subtitle">{{ carInfo.manufacturer }}</p>
  <p class="subtitle">{{ carInfo.registrationNumber }}</p>
  <div class="actions">
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="openCarEditDialog()"
    >
      Edit car info
    </button>
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="openAddIssueDialog()"
    >
      Add new issue
    </button>
  </div>

  @if (carIssues !== null) {
  <app-issues-list
    [carIssues]="carIssues"
    (delete)="deleteIssue($event)"
    (updateIssue)="showUpdateIssueDialog($event)"
  ></app-issues-list>
  }
</div>
} @else {
<div class="loading-container">
  <span class="loading-text">Loading</span>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
}
