@if(dataSource !== null) {
<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="repairCost">
    <th mat-header-cell *matHeaderCellDef>Repair cost</th>
    <td mat-cell *matCellDef="let element">
      {{ (element.repairCost | currency : "PLN") ?? "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <div class="title">
        {{ element.title }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="createDateTime">
    <th mat-header-cell *matHeaderCellDef>Creation time</th>
    <td mat-cell *matCellDef="let element">
      {{ element.createDateTime | date : "mediumDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="repairDateTime">
    <th mat-header-cell *matHeaderCellDef>Resolution time</th>
    <td mat-cell *matCellDef="let element">
      {{ element.repairDateTime | date : "mediumDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <td mat-cell *matCellDef="let element" [attr.colspan]="4">
      <div class="element-detail" @showInOut *ngIf="element == expandedElement">
        @if(!isSmallScreen) {
        <span
          >Created at: {{ element.createDateTime | date : "mediumDate" }}</span
        >
        @if(element.resolved) {
        <span
          >Resolved at: {{ element.repairDateTime | date : "mediumDate" }}</span
        >

        } @else {
        <span>Not resolved</span>
        } }
        <span>
          {{ element.description }}
        </span>
        <div class="issue-actions">
          <button
            mat-button
            mat-flat-button
            color="primary"
            (click)="updateIssue(element)"
          >
            {{ element.resolved ? "Edit" : "Resolve" }}
          </button>
          <button
            mat-button
            mat-flat-button
            color="warn"
            (click)="deleteIssue(element.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="
      ['title', 'repairCost'].concat(
        isSmallScreen ? ['createDateTime', 'repairDateTime'] : []
      )
    "
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let element;
      columns: ['title', 'repairCost'].concat(
        isSmallScreen ? ['createDateTime', 'repairDateTime'] : []
      )
    "
    class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: ['description']"
    class="detail-row"
  ></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
}
